@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --couleur1: #01010c;
  --couleur2: #04041b;
  --couleur3: ;
  --couleur4: ;
}

* {
  margin: 0;
  padding: 0;
  
}

body {
  background-color: var(--couleur1);
  color: white;
  font-family: "Inknut Antiqua", serif;
  display: flex;
  flex-direction: column;
}

/* NAV BAR */


.contenu {
  background-color: var(--couleur2);
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
}
.navbar {
  background-color: antiquewhite;
  color: black;
  width: 100%;
  aspect-ratio: 828/115;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.navbar .top {
  
}

.navbar .bas {
  display: flex;
  justify-content: center;
  .inutiles {
    display: flex;
    list-style: none;
    width: 100%;
    li {
      border-inline: 1px green solid;
      margin-inline: auto;
      width: 100%;
      aspect-ratio: 3/1;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: .75rem;
    }
    li:first-of-type {
      border-left: 2px solid ;
    }
    li:last-of-type {
      border-right: 2px solid;
    }
  }
}